VITE_FIREBASE_API_KEY=AIzaSyAtau_QxyEGPdcbFB_JqVuftxhsPmVDcR0
VITE_FIREBASE_AUTH_DOMAIN=jobreadyai-82863.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=jobreadyai-82863
VITE_FIREBASE_STORAGE_BUCKET=jobreadyai-82863.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=745131156910
VITE_FIREBASE_APP_ID=1:745131156910:web:40ddb6c52241939a40d43f